/* GLOBAL */
* {
  box-sizing: border-box;
}


/* html {
  scroll-behavior: smooth;
} */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #fff;
  color: #4A4B4C;
}

img {
  max-width: 100%;
  height: auto;
}


/* OUTLINE STYLES*/
*:focus {
  outline: 2px dashed #7296EC;
  outline-offset: 3px;
}


/* BUTTON
.button {
  display: inline-block;
  padding: 13px 20px;
  border: 0;
  border-radius: 10px;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
} */
